.card-list {
  width: 80%;
  margin-bottom: 30px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(525px, 1fr));
  gap: 30px;
  justify-items: center;
}

.pagination {
  margin-bottom: 30px;
}

.ant-pagination {
  text-align: center;
}

@media (max-width: 1440px) {
  .card-list {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .card-list {
    width: 95%;
  }
}
