.card {
  width: 100%;
  display: grid;
  grid-template-areas: 'a a b b b';
  grid-template-columns: repeat(2, 125px);
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.ant-image {
  border-radius: 10px;
  grid-area: a;
  max-width: 250px;
}

.poster-img {
  border-radius: 10px;
  object-fit: cover;
}

.ant-image-mask {
  border-radius: 10px;
}

.movie-info {
  grid-area: b;
  font-family: 'Montserrat', sans-serif;
  margin: 25px;
  margin-top: 10px;
}

.title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.date {
  display: block;
  color: grey;
  margin-bottom: 10px;
}

.tags {
  margin-bottom: 10px;
}
