.card {
  width: 100%;
  display: grid;
  grid-template-areas: 'a a b b b';
  grid-template-columns: repeat(2, 125px);
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.ant-image {
  border-radius: 10px;
  grid-area: a;
  max-width: 250px;
}

.poster-img {
  border-radius: 10px;
  object-fit: cover;
}

.ant-image-mask {
  border-radius: 10px;
}

.movie-info {
  grid-area: b;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  margin: 15px;
  margin-top: 10px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.title-text {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.title-rating {
  user-select: none;
  margin-left: 15px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date {
  display: block;
  color: grey;
  margin-bottom: 10px;
}

.tags {
  user-select: none;
  margin-bottom: 10px;
}

.ant-tag {
  margin-bottom: 8px;
}

.rate {
  align-self: center;
  margin-top: auto;
  margin-bottom: 15px;
}
