form {
  text-align: center;
}

.search-field {
  font: 28px 'Montserrat', sans-serif;
  background-color: inherit;
  width: 80%;
  height: 60px;
  padding: 0 20px;
  border-radius: 5px;
  border: 2px solid grey;
}

.search-field:focus-visible {
  outline: none;
}

@media (max-width: 1440px) {
  .search-field {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .search-field {
    width: 95%;
  }
}
