form {
  text-align: center;
}

.search-field {
  font: 28px 'Montserrat', sans-serif;
  background-color: inherit;
  width: 75%;
  height: 60px;
  padding: 0 20px;
  border-radius: 5px;
  border: 2px solid grey;
}

.search-field:focus-visible {
  outline: none;
}
