@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

html {
  min-width: 550px;
  background-color: #f0f0f0;
  padding: 0 calc(17px - (100vw - 100%)) 0 0;
}

ul {
  padding: 0;
  margin: 0;
}

#root {
  font: 16px 'Montserrat', sans-serif;
  width: 100%;
}

@media (max-width: 1440px) {
  html {
    padding: 0;
  }
}
