@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

html {
  background-color: #f0f0f0;
  padding: 0 calc(20px - (100vw - 100%)) 0 0;
}

ul {
  padding: 0;
  margin: 0;
}

#root {
  min-height: 100vh;
  font: 16px 'Montserrat', sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
